    <!-- About Section -->
    <section id="PrivacyPolicy" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Privacy Policy</h2>
                <p>Privacy policy goes here <a href="http://outleveledgames.com"> privacy page </a>. blah blah.</p>
                <p>More Blah <a href="http://outleveledgames.com">BLAH</a></p>
                <p>All BLLAHHH <a href="http://outleveledgames.com">somethin</a> </p>
                <p>Coded in Javascript, CSS, and markdown.</p>
            </div>
        </div>
    </section>
