    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Operation Zombie</h2>
                    <p>You can download Operation Zombie free today on iOS and Android.</p>
                    <a href="https://apps.apple.com/us/app/operation-zombie/id1611398984" class="btn btn-default btn-lg">iOS</a>   <a href="https://play.google.com/store/apps/details?id=com.OutleveledGames.OperationZombie" class="btn btn-default btn-lg">Android</a>
                </div>
            </div>
        </div>
    </section>
