<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title -->
  <title>
    {% if page.title %}
      {{ page.title }} | Outleveled Games
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Description -->
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://outleveledgames.com/img/minifiedOpZSocial.jpg{% endif %}">
  <meta property="og:site_name" content="Outleveled Games">
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/img/OutleveledLogo.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ '/img/OutleveledLogo.png' | prepend: site.baseurl }}">


  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- JSON-LD Structured Data (optional, per page) -->
  {% if page.schema %}
    <script type="application/ld+json">
      {{ page.schema | jsonify }}
    </script>
  {% endif %}

  <!-- IE8 support -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
