<!-- Other Projects Section -->
<section id="other-projects" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Other Projects</h2>
          <p>Explore more from Outleveled Games.</p>
        </div>
      </div>

      <div class="row">
        <!-- Project Card -->
        <div class="col-sm-6 col-md-4 col-lg-3 col-lg-offset-4">
          <div class="project-card">
            <img src="assets/img/steadylinguist-128.png" 
                 alt="Steady Linguist Logo" 
                 class="img-responsive center-block project-logo">
            <h3>Steady Linguist</h3>
            <p>A Chrome extension that helps you learn languages by passively translating a portion of words on webpages.</p>
            <a href="https://chromewebstore.google.com/detail/steady-linguist/lcbiohoeaneglegahhhfkmcfpplhamck"
               target="_blank" 
               class="btn btn-default btn-sm">
               View on Chrome Web Store
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
